:root {
    --green: (#00856F);
    --green-light: (#DCE9E2);
    --green-light-2: (#F7F9F9);
    --brand-beige: (#FFFAF1);

    /* hover */
    --green-hover: (#00453A);

    /* secondary colors */
    --gray-headline: (#061800);
    --gray-paragraph: (#384633);
    --white: (#3E3E3E);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    /* font-family: 'DM Sans', sans-serif; */
}

