/* ===========Geral============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --green: #00856f;

  --green-dark: #00453a;

  --green-light: #dce9e2;
  --green-light-2: #f7f9f9;

  --brand-beige: #fffaf1;

  /* secondary colors */
  --gray-headline: #061800;
  --gray-paragraph: #384633;
  --white: #ffffff;

  font-size: 62.5%;

  --nav-height: 7.2rem;
}

body {
  text-align: center;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

.wrapper {
  width: 37.5rem;
  margin: 0 auto;
  padding: 0rem 2.4rem;
}

/*=================HEADER================= */

header .content {
  margin-top: calc(4.1rem + var(--nav-height));

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header::before {
  content: "";
  width: 100vw;
  height: calc(108rem + var(--nav-height));
  background: var(--green-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header h1 {
  /* margin-top: 4rem; */
  margin-bottom: 1.6rem;

  font-size: 1.4rem;
  font-weight: 700;
  color: var(--green);
  line-height: 2.1rem;
}

header h2 {
  margin-bottom: 2.4rem;

  font-weight: 700;
  font-size: 3.4rem;
  color: var(--gray-headline);
  line-height: 130%;
}

header .descr {
  margin-bottom: 3.2rem;

  font-size: 1.8rem;
  font-weight: 400;
  color: var(--gray-paragraph);
  line-height: 150%;
}

header .whats-button-filled {
  width: 26.3rem;
  height: 5.2rem;

  margin-bottom: 6rem;
  padding: 1.6rem 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4rem;

  background: var(--green);
  cursor: pointer;

  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
}

header .whats-button-filled .whatsIcon {
  margin-right: 1.6rem;
}

.cards-info {
  width: 32.7rem;
  padding-block: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 0.1rem solid var(--green-light);
  border-radius: 0.6rem;
  background: var(--green-light-2);
}

header img {
  width: 26.4rem;
}

.info-specialists {
  margin: 6rem 0rem;
}

.cards-info h3 {
  margin-bottom: 0.4rem;

  line-height: 130%;
  font-size: 4.8rem;
}

.cards-info p {
  color: var(--green);
}

/* ========Navigation========== */

nav {
  display: flex;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.scroll {
  background: var(--green);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path {
  fill: var(--white);
}

nav.scroll svg:nth-child(2) path {
  stroke: var(--white);
}
