/* ===========GERAL============== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

:root {
  --green: #00856f;

  --green-dark: #00453a;

  --green-light: #dce9e2;
  --bg-green-light: #f7f9f9;

  --brand-beige: #fffaf1;

  /* secondary colors */
  --gray-headline: #061800;
  --gray-paragraph: #384633;
  --white: #ffffff;

  font-size: 62.5%;

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;

  background: var(--bg-green-light);
  overflow: overlay;
}

section {
  padding-block: 10rem;
}

.wrapper {
  width: 37.5rem;
  margin: 0 auto;
  padding: 0rem 2.4rem;
}

/* ========NAVIGATION========== */

nav {
  display: flex;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.scroll {
  background: var(--green);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path {
  fill: var(--white);
}

nav.scroll button path {
  stroke: var(--white);
}

nav button {
  background: none;
  cursor: pointer;
}

/* ======== MENU-EXPANDED ========== */

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .close-menu {
  right: 2rem;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--green);

  width: 100vw;
  height: 100vh;

  padding: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  font-size: 2.4rem;
  line-height: 3.1rem;
  font-weight: 700;

  margin-top: 6rem;
}

.menu ul li a {
  color: var(--white);
}

.menu .button {
  width: 27.4rem;
  height: 5.5rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
  padding: 1.6rem 3.2rem;

  background: var(--white);

  border-radius: 4rem;

  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 23.4rem;
  color: var(--green);
}

.menu .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.social-links svg path {
  fill: var(--white);
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: var(--white);
}

body.menu-expanded button path {
  stroke: var(--white);
}

/*=================HOME================= */

header .content {
  padding-top: calc(4.1rem + var(--nav-height));

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#home::before {
  content: "";
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background: var(--green-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h2 {
  /* margin-top: 4rem; */
  margin-bottom: 1.6rem;

  font-size: 1.4rem;
  font-weight: 700;
  color: var(--green);
  line-height: 2.1rem;
}

#home h1 {
  margin-bottom: 2.4rem;

  font-weight: 700;
  font-size: 3.4rem;
  color: var(--gray-headline);
  line-height: 130%;
}

#home .descr {
  margin-bottom: 3.2rem;

  font-size: 1.8rem;
  font-weight: 400;
  color: var(--gray-paragraph);
  line-height: 150%;
}

#home .whats-button-filled {
  width: 26.3rem;
  height: 5.2rem;

  margin-bottom: 6rem;
  padding: 1.6rem 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4rem;

  background: var(--green);
  cursor: pointer;

  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
}

#home .whats-button-filled .whatsIcon {
  margin-right: 1.6rem;
}

.cards-info {
  width: 32.7rem;
  padding-block: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 0.1rem solid var(--green-light);
  border-radius: 0.6rem;
  background: var(--bg-green-light);
}

#home img {
  width: 26.4rem;
}

.info-specialists {
  margin: 6rem 0rem;
}

.cards-info h3 {
  margin-bottom: 0.4rem;

  line-height: 130%;
  font-size: 4.8rem;
}

.cards-info p {
  color: var(--green);
}

/* ==============SERVICES========== */

#services header {
  margin-bottom: 6rem;
}

#services header h2 {
  margin-bottom: 1.6rem;

  font-weight: 700;
  font-size: 1.4rem;
  line-height: 150%;

  letter-spacing: 0.08rem;

  text-transform: uppercase;
  color: var(--green);
}

#services header h3 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.9rem;
  text-align: center;
  color: var(--gray-headline);
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;

  border-radius: 0.6rem;
  border: 0.1rem solid var(--green-light);
  background: var(--white);

  text-align: left;
}

#services .card h3 {
  margin-block: 1.6rem;
}

/* ==============ABOUT========== */
